doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Blog
    //- script(src='/assets/main.js') --defer?
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href=url('root')) React lessons
    .container
      .mt-1
        for message in flash
          .alert(class=`alert-${message.type}`)
            = message.message
    main(role='main')
      block content
    script(src='/assets/main.js')
